html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 140%;
}

button,
select {
  text-transform: none;
}

select {
  width: 300px;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

body {
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Sanchez', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  background-color: #fff;
  color: #357;
}

main {
  max-width: 800px;
  margin: 60px auto;
}

checkbox,
.checkbox {
  margin-bottom: 1rem;
  color: #000;
}

.checkbox,
checkbox,
select,
input[type='checkbox'] {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #a3d0e5;
  color: #000;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #a3d0e5;
  cursor: pointer;
}

input.checkbox:focus,
checkbox:focus,
input[type='checkbox']:focus {
  color: #000;
  background-color: #fff;
  border-color: #999;
  outline: 0;
}

input.checkbox:disabled,
checkbox:disabled,
input[type='checkbox']:disabled {
  color: #999;
  background-color: #ededed;
  border-color: #ededed;
  outline: 0;
}

button,
.button {
  margin-bottom: 1rem;
  color: #000;
}

.button,
button,
select,
input[type='button'] {
  padding: 4px 16px;
  text-transform: uppercase;
  background-color: #a3d0e5;
  color: #000;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #a3d0e5;
  cursor: pointer;
}

input.button:hover,
button:hover,
input[type='button']:hover {
  color: #eee;
  background-color: #357;
  border-color: #357;
}

select:hover {
  color: #eee;
  background-color: #357;
  border-color: #357;
}

input.button:focus,
button:focus,
input[type='button']:focus {
  color: #000;
  background-color: #fff;
  border-color: #999;
  outline: 0;
}

input.button:disabled,
button:disabled,
input[type='button']:disabled {
  color: #999;
  background-color: #ededed;
  border-color: #ededed;
  outline: 0;
}

input.select:disabled,
select:disabled,
input[type='select']:disabled {
  color: #999;
  background-color: #ededed;
  border-color: #ededed;
  outline: 0;
}

input.slider {
  display: flex;
  align-items: center;
  justify-content: left;
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  width: 100%;
  height: 48px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #fff;
  opacity: 0.5;
  transition: opacity 0.2s;
  padding: 1px;
  pointer-events: none;
}
input.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.8;
  width: 48px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #fff;
  background: #124;
  cursor: pointer;
  pointer-events: auto;
}
input.slider::-webkit-slider-thumb:active {
  background-color: #124;
  border-color: #111;
  opacity: 1;
}
 {
}
input.slider::-webkit-slider-thumb:hover {
  background-color: #124;
  border-color: #111;
  opacity: 1;
}
 {
}

input.checkbox:hover,
checkbox:hover,
input[type='checkbox']:hover {
  color: #eee;
  background-color: #357;
  border-color: #357;
}

select:hover {
  color: #eee;
  background-color: #357;
  border-color: #357;
}
